.aboutSection {
    background-image: url(./assets/IMG_1265__.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    height: 85vh;
    background-position: center center;
    padding: 50px 0;
}

.aboutSectionImgText {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.aboutText {
    width: calc(60% - 40px);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.aboutImg {
    width: calc(40% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin: -55px 0 0 65px;
    }
}

.box {
    width: 290px;
    height: 415px;
}

.box1 {
    border: 20px solid;
    border-image-source: linear-gradient(135deg, $headerColorTransparent 35%, $backgroundDarkTransparent);
    border-image-slice: 1;
}

// About text 

.details {
    display: flex;
    margin-top: 40px;
    img {
        width: 15%;
    }
}

.details2 {
    display: flex;
    justify-content: space-between;
    div {
        margin-left: 20px;
        margin-bottom: -50px;
        span {
            display: block;
        }
    }
}



