.footerBackground {
    background-image: url(./assets/IMG_897000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    padding: 50px 0 220px;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    .contactInfo {
        display: flex;
        align-items: center;
        border: 1px solid $backgroundDarkTransparent;
        padding: 30px 20px;
        min-width: 320px;
        background-color: $headerColorTransparent;
    }
    figure {
        width: 40px;
        margin-right: 15px;
    }
    h4 {
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    p {
        font-size: 1.6rem;
        color: $backgroundDarkTransparentDarker;
    }
}

.copyright {
    background-color: $backgroundDarkTransparentDarker;
    text-align: center;
    p {
        color: $headerColorTransparent2;
        font-size: 1.8rem;
    }
    .copyrightBorder {
        max-width: 1500px;
        width: 95%;
        margin: 0 auto;
        border-width: 2px 0  0; 
        border-style: solid;
        border-color: $accentColor;
        padding: 15px 0;
    }
}

.projectsHeader a, .footerBackground a {
    color: $backgroundDarkTransparentDarker2;
    &:hover, &:focus {
        color: $headerColor;
        border: 1px solid $accentColor;
    }
}

// Social icon list

.icons {
    display: flex;
    justify-content: center;
    margin: 70px 0 0;
    li {
    padding: 2.5px;
        a {
            padding: 20px 18px 10px;
            border: 3px solid transparent;
        }
    }
}

.icons i {
    font-size: 2.5rem;
    color: $backgroundDarkTransparentDarker;
}

.icons a:hover i, .icons a:focus i {
    color: $accentColor;
}

.icons a:hover, .icons a:focus {
    border-width: 3px; 
    border-style: solid;
    border-color: transparent transparent $accentColor transparent;
    background-color: transparent;
}

