// Colors
$backgroundDark: #353535;
$backgroundDarkTransparent: rgba(53, 53, 53, 0.3);
$backgroundDarkTransparentDarker: rgba(53, 53, 53, 0.7);
$backgroundDarkTransparentDarker2: rgba(53, 53, 53, 0.85);
$mainColor: #ae4b15;
$mainColorTransparent: rgba(174,75,21,0.85);
$mainColorTransparent1: rgba(174,75,21,0.95);
$mainColorTransparent2: rgba(174,75,21,0.07);
$headerColor: #ffffff;
$headerColorTransparent: rgba(255, 255, 255, 0.5);
$headerColorTransparent2: rgba(255, 255, 255, 0.8);
$accentColor: #e45507;
$accentColorTransparent: rgba(228, 85, 7, 0.95);
$focusColor: #000000;
$bodyColor: #333333;
$paragraphColor: #515151;

// Fonts
@mixin mainFont($mainFont){
    font-family: 'Poppins', sans-serif;
    font-size: $mainFont;
}

@mixin secondaryFont($secondaryFont){
    font-family: 'Lato', sans-serif;
    font-size: $secondaryFont;
    color: $headerColor;
}

// General selectors
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1140px;
    width: 90%;
    margin: 0 auto;
}

body {
    @include secondaryFont(1.8rem);
    color: $bodyColor;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 100%;
}

figure {
    margin: 0;
}

a:hover, a:focus  {
    background: $focusColor;
    border: 1px $headerColor solid; 
    text-decoration: underline;
    text-decoration-color: $accentColor;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2rem;
}

a, button {
    @include mainFont(1.8rem);
    color: $headerColor;
    text-decoration: none;
    padding: 15px 30px;
    border: 1px transparent solid; 
}

ul {
    list-style: none;
}

p {
    color: $paragraphColor;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0.8px;
}

h1 {
    @include mainFont(2.4rem);
    font-weight: lighter; 
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 3.5rem;
}

h2 {
    @include mainFont(7.2rem);
}

h3 {
    @include mainFont(3.6rem);
    letter-spacing: 2px;
    margin-bottom: 20px;
    position: relative;
    &:after {
        position: absolute;
        content: '';
        height: 0.2rem;
        bottom: 1.8rem; 
        margin-left: 220px;
        left: 0;
        width: 120px;
        background: $backgroundDarkTransparent;
    }
}

h4 {
    @include mainFont(2rem);
    margin-bottom: 10px;
}

hr {
    color: $headerColor;
    display: block;
    width: 100px;
    margin-top: -19.5rem;
}

.section2, .section3 {
    overflow: hidden;
}

// Fill the color of icons
.filter{
    filter: invert(47%) sepia(87%) saturate(4487%) hue-rotate(4deg) brightness(94%) contrast(94%);
}

.filterWhite {
    filter: brightness(0) invert(1);
}

// Animations

@keyframes animateh1 {
    0%   {left:150px;}
    100% {left:0px;}
}

@keyframes animateh3 {
    0%   {left:100px;}
    100% {left:0px;}
}

@keyframes animateSkills {
    10%, 90% {transform: translate3d(-1px, 0, 0);}
    20%, 80% {transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% {transform: translate3d(4px, 0, 0);}
}

h1 {
    position: relative;
    animation-name: animateh1;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.moreInfoHover h3 {
    position: relative;
    animation-name: animateh3;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.programsUsed {
    position: relative;
    animation-name: animateh3;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.eachSkill figure:hover, .filterWhite:hover  {
    animation: animateSkills 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

// .filterWhite:hover  {
//     animation: animateSkills 0.82s cubic-bezier(.36,.07,.19,.97) both;
//     transform: translate3d(0, 0, 0);
//     backface-visibility: hidden;
//     perspective: 1000px;
    
// }


