// Colors
$backgroundDark: #232323;
$text: #ffffff;
$mainColor: #ae4b15;
$accentColor: #fd6817;
$focusColor: #000000;
$bodyColor: #333333;

$xStd: 1450px;
$std: 1366px;
$xLg: 1280px;
$lg: 1150px;
$mobNav: 1024px;
$tablet: 1024px;
$md: 950px;
$sm: 768px;
$lgPhone: 640px;
$xSm: 500px;


// General selectors
* {
    padding: 0;
    margin: 0;
}

*:focus {
    outline: 0.2rem solid $accentColor;
}

html {
    font-size: 62.5%;
}


.wrapper {
    max-width: 165rem;
    width: calc(100% - 8rem);
    margin: 0 auto;

    @include mediaQ($lgPhone) {
        width: calc(100% - 4rem);
    }
}

body {
    @include secondaryFont(1.8rem);
    color: $text;
    background-color: $backgroundDark;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    max-height: 100%;
}

figure {
    margin: 0;
}


.link-primary,
button {
    @include mainFont(1.8rem);
    text-decoration: none;
    padding: 1.5rem 3rem;
    border: .1rem transparent solid;

    @include hover {
        background: $focusColor;
        border: .1rem $text solid;
        text-decoration: underline;
        text-decoration-color: $accentColor;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.2rem;
    }
}

button {
    cursor: pointer;
}

.link-text {
    @include mainFont(1.8rem);
    color: $text;
    text-decoration: none;
    padding: 1.5rem 0 0;
    position: relative;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-transform: capitalize;

    @include hover {
        color: lighten($accentColor, 12%);
    }
}


ul {
    list-style: none;
}

p {
    font-weight: 300;
    line-height: 3rem;
    letter-spacing: 0.07rem;

    &.leadin {
        font-size: 2.1rem;
        font-weight: 400;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

h1 {
    @include secondaryFont(3.2rem);
    letter-spacing: .2rem;
    line-height: 5rem;
}

h2 {
    @include mainFont(7.5rem);
}


@media (max-width: $sm) {
    h2 {
        font-size: 6rem;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: $xSm) {

    h1 {
        font-size: 2.2rem;
        line-height: 1.7;
    }
}

section,
footer {
    h2 {
        @include mainFont(3.6rem);
        letter-spacing: .2rem;
        margin-bottom: 2rem;
        position: relative;

        &:after {
            content: '';
            width: 12rem;
            height: 0.2rem;
            background: $accentColor;
            display: inline-block;
        }
    }
}

.h2side {
    @include minMediaQ(420px) {
        &:after {
            position: relative;
            bottom: 1.2rem;
            margin-left: 3rem;
            right: 0;

        }
    }

    @include mediaQ(420px) {
        margin-bottom: 2rem !important;

        &:after {
            position: absolute;
            bottom: -1.2rem;
            left: 0;
        }
    }
}

.h2center {
    margin-bottom: 7rem;
    text-align: center;


    &:after {
        position: absolute;
        bottom: -1.2rem;
        left: 50%;
        transform: translate(-50%, 0);
        margin-left: 0;
    }
}

h4 {
    @include mainFont(2rem);
}




// Fill the color of icons
.filter {
    filter: invert(47%) sepia(87%) saturate(4487%) hue-rotate(4deg) brightness(94%) contrast(94%);
}

.filterWhite {
    filter: brightness(0) invert(1);
}

// Animations

@keyframes programs {
    0% {
        left: 3rem;
    }

    100% {
        left: 0;
    }
}

@keyframes animateSkills {

    10%,
    90% {
        transform: translate3d(-.1rem, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(.2rem, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-.4rem, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(.4rem, 0, 0);
    }
}

.programsUsed,
.moreInfoHover h3 {
    position: relative;
    animation-name: programs;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.eachSkill figure:hover,
.filterWhite:hover,
.eachSkill figure:focus,
.filterWhite:focus {
    animation: animateSkills 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 100rem;
}