/* Main Header background */

.indexHeader {
    background-color: $bodyColor;
    min-height: 85.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mediaQ($std) {
        min-height: 70rem;
    }
}

header {
    position: relative;

    >img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        mix-blend-mode: difference;
        z-index: 1;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(transparent, $backgroundDark 95%);
        z-index: 2;
    }
}

.headerText {
    display: flex;
    position: relative;
    left: -1000rem;
    z-index: 3;

    @include mediaQ($xSm) {
        left: -70rem;
    }

    &.slideIn {
        left: 0;
        transition: left 1.8s ease;
    }

    h1 {
        margin: 2.2rem 0 3.2rem;
    }
}


.headings {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14rem 6rem 16.5rem 0;
    width: calc(((100% - 8rem) / 3) * 2 + 4rem);
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: calc(((100% - 8rem) / 3) * 2 + 4rem + 50vw);
        height: 100%;
        background-color: rgba($mainColor, 0.8);
    }

    @include mediaQ($std) {
        padding: 8rem 4rem 10.5rem 0;
    }

    @include mediaQ($md) {
        width: 90%;
    }

    @include mediaQ($xSm) {
        padding: 6rem 2rem 8.5rem 0;
        width: 100%;
    }

    @include mediaQ(rem(350)) {
        padding: 4rem 2rem 4.5rem 0;
        margin-left: 0;
    }

    >* {
        z-index: 1;
        position: relative;
    }

    h2 {
        @include minMediaQ($sm) {
            &:before {
                content: "";
                height: 0.2rem;
                background: $text;
                display: inline-block;
                width: 12rem;
                position: relative;
                bottom: 2.6rem;
                left: 0;
                margin-right: 3rem;
            }

        }
    }

    @include minMediaQ($sm) {
        >*:not(h2) {
            margin-left: 15rem;
        }
    }

    .readMore {
        a {

            &:before {
                position: absolute;
                content: '';
                height: 0.2rem;
                bottom: -1rem;
                left: 0;
                width: 45%;
                background: $accentColor;
            }

            &:after {
                content: "";
                @include fontAwesome("\f078");
                font-size: 2.2rem;
                padding-left: 3rem;
                position: relative;
                top: 0.25rem;


                @include mediaQ(76.8rem) {
                    padding-left: 2rem;
                }
            }

            @include hover {
                color: $text;

                &:after {
                    animation: vertical-shaking 0.8s infinite;
                }
            }
        }
    }
}





@keyframes vertical-shaking {
    0% {
        transform: translateY(.5rem)
    }

    50% {
        transform: translateY(-.5rem)
    }

    100% {
        transform: translateY(.5rem)
    }
}