/* Main Header background */

header {
    background-color: $backgroundDark;
    background-image: url(./assets/IMG_1297.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $headerColor;
}

.headerText {
    background-color: $mainColorTransparent;
    min-height: 530px;
    width: calc(50% + 250px);
    display: flex;
    justify-content: flex-end;
}

.headingText{
    display: flex;
    align-items: center;
    width: 820px;
}

.headings {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.mainHeading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 455px;
    padding-bottom: 60px;

}

.readMore {
    min-height: 30px;
    margin: 15px 0 30px -30px;
}

.readMore a {
    position: relative;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.readMore a:hover, .readMore a:focus {
    text-decoration: none;
}

.readMore a:after {
    position: absolute;
    content: '';
    height: 0.2rem;
    bottom: 0.5rem; 
    margin-left: 30px;
	left: 0;
	width: 45%;
	background: $accentColor;
}



