
// Media queries
@media (max-width: 1266px) {
    // Header
    nav ul li {
        margin-left: 10px;
    }

    .headingText{
        margin-left: 5%;
        width: 100%;
        margin-right: 5%;
    }

    // Section 1
    .aboutText {
        width: calc(65% - 40px);
        padding-top: 10px;
    }

    .aboutImg img {
        margin: -35px 0 0 45px;
    }

    .details {
        margin-top: 20px;
    }

    // Section 2
    .section2 .box {
        width: 25%;
    }

    .box figure {
        margin: 190px 0 0 -150px;
    }

    .skills {
        margin-left: 5%;
        width: 100%;
        figure {
            width: 100px;
        }
    }

    .skillSets {
        width: 70%;
        margin-left: 0;
    }

    // Section 3
    .carousel-cell {
        width: 90%; 
    }

    .section3Background {
        max-width: 100%;
        width: 100%;
    }

    .flickity-prev-next-button.previous {
        left: 70px;
    }

    .flickity-prev-next-button.next {
        right: 70px;
    }

    .moreInfoHover {
        width: 70%;
        padding: 25px;
        h3 {
            padding: 20px 0 0;
            font-size: 2.8rem;
        }
        .programsUsed p {
            padding: 5px;
        }
    }

    // Contact
    form {
        padding: 30px 20px;
    }
}
