// Form Send Message

form {
    padding: 0 0 4rem;
    max-width: 100rem;
    margin: 0 auto;
}

footer h3 {
    text-align: center;
}

.inputFields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

input,
textarea {
    padding: 2rem 2rem 2rem 1rem;
    background: transparent;
    color: $text;
    border: 0;
    position: relative;
    background-image: linear-gradient(#a7a7a7, #a7a7a7);
    background-size: 100% 0.2rem;
    background-position: bottom center;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
        background-image: linear-gradient($accentColor, $accentColor);
    }

    &:focus {
        outline: .1rem solid #a7a7a7;
    }

}

textarea {
    height: 20rem;
    resize: none;
    width: calc(100% - 1rem);
}

label {
    padding-top: 2rem;
    color: $accentColor;
    display: block;
    margin-right: 0.5rem;
}

.textareaInput {
    display: flex;
    justify-content: space-between;
}

.requiredFields {
    display: flex;

    input {
        width: calc(100% - 1rem);
    }
}

input::placeholder,
textarea::placeholder {
    @include mainFont(1.6rem);
    color: $text;
    font-weight: 600;
}

.requiredFields,
input[type="tel"] {
    margin-bottom: 2rem;
    width: calc(100%/3 - 3rem);

    @include mediaQ($sm) {
        width: 100%;
        margin-bottom: 3rem;
    }
}

.submitButton {
    display: flex;
    justify-content: center;
}

.submit {
    margin-top: 8rem;
    margin-bottom: 1rem;
    padding: 1.5rem 4.5rem;
    background-color: $mainColor;
    border: .3rem solid transparent;
    text-transform: uppercase;
    color: $text;
}

.submitButton button {
    @include hover {
        border: .3rem solid $accentColor;
        text-decoration: underline;
        text-decoration-color: $accentColor;
        text-underline-offset: 0.7rem;
        text-decoration-thickness: 0.2rem;
    }
}


input,
textarea {
    &:focus {
        background-color: rgba($backgroundDark, 0.8);
    }
}