// Header navigation 
nav {
    padding-top: 20px;
}

.activeNav {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2rem;
    text-decoration-color: $accentColor;
}

.mobileMenu button {
    display: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    li {
        margin-left: 25px;
        a {
            color: $headerColor;
            text-transform: uppercase;
            letter-spacing: 2.3px;
            min-width: 150px;
            display: block;
            text-align: center;
        }
    }
}



