
.section2 {
    min-height: 600px;
    height: 85vh;
    display: flex;
    justify-content: space-between;
}

.section2 .box {
    width: calc(50% - 430px);
    height: 550px;
}

.section2 .box1 {
    border-width: 0 0 20px 20px; 
    border-style: solid;
    border-image-source: linear-gradient(-135deg, $headerColor 15%, $accentColor);
    border-image-slice: 1;
}

.section2 figure {
    margin: 190px 0 0 -100px;
    width: calc(5% + 370px);
    display: flex;
}

// Skills
.skills {
    width: 1000px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
    figure {
        width: 120px;
        margin: 0;
        height: 50%;
        display: flex;
        justify-content: center;
    }
    h3 {
        margin-bottom: 60px;
    }
}

.skillSets {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
}

.eachSkill {
    display: flex;
    flex-direction: column;
    width: calc(17% - 8px);
    align-items: center;
    text-align: center;
}



