// Section1
.aboutSection {
    padding: 10rem 0;
    position: relative;

    @include mediaQ($tablet) {
        padding: 2rem 0 6rem;
    }
}

.aboutSectionImgText {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;

    @include mediaQ($md) {
        flex-direction: column;
        align-items: flex-start;

        .aboutText {
            width: 100%;
        }

        .aboutImg {
            margin-bottom: 4rem;
            padding-right: 0;
        }
    }
}

.aboutText {
    width: calc(65% - 8rem);
    display: flex;
    flex-direction: column;

    h3 {
        margin: 0 0 1rem;
    }

    p {
        padding-top: 2rem;
    }
}

.aboutImg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5rem;

    @include minMediaQ($sm) {
        padding-top: 3.5rem;
    }

    img {
        margin: -6rem 0 0 6rem;
        width: 33rem;
    }
}

.box {
    width: 33rem;
    height: 48rem;

}

.box1 {
    border: 2rem solid;
    border-image-source: linear-gradient(135deg, rgba($text, 0.5) 15%, rgba($backgroundDark, 0.3));
    border-image-slice: 1;
}

@media (max-width:$xLg) {


    .aboutText {
        width: calc(65% - 4rem);
        padding-top: 0;
    }

    .aboutImg img {
        margin: -3.5rem 0 0 3.5rem;
    }

}


@media (max-width: $xSm) {

    .aboutSection {
        padding: 4rem 0;
    }

    .box {
        width: 20rem;
        height: 28rem;
    }

    .box1 {
        border: 1rem solid;
        border-image-source: linear-gradient(135deg, rgba($text, 0.5) 35%, rgba($backgroundDark, 0.3));
        border-image-slice: 1;
    }


}