// Section 3

.section3Background {
    background-image: url(./assets/IMG_1489_.jpg);
    max-width: 1500px;
    width: 95%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 680px;
    background-position: center center;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 0 0;
    h3 {
      color: $headerColor;
      &:after {
        background: $accentColor;
        bottom: 2rem;
      }
    }
}



// Flickity Carousel // Adjusted Code from flickity.com

.instructions {
  color: $headerColor;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.instructions a {
    padding: 8px 2px;
    @include secondaryFont(1.6rem);
  }

.instructions a:hover, .instructions a:focus {
  background-color: transparent;
  border: 1px transparent solid;
  color: $accentColor;
}

.carousel {
  height: 520px;
}

.carousel-cell {
  width: 58%; 
  height: 470px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  background-image: url(./assets/IMG_1265small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  button {
    background-color: transparent;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    &:focus {
      background-color: $backgroundDarkTransparent;
    }
  }
}

.instructions a, .linksToProjects a{
  text-decoration: underline;
  text-decoration-color: $accentColor;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 0.2rem;
}

.moreInfoHover {
  position: absolute;
  display: none;
  top: 5%;
  width: 92%;
  background-color: $mainColorTransparent1;
  height: 90%;
  padding: 30px;
  text-align: left;
  h3 {
    padding: 20px 0 0;
    font-size: 3.4rem;
    color: $headerColor;
    &:after {
      content:none;
    }
  }
  p {
    color: $headerColor;
    font-weight: lighter;
    text-align: left;
  }
}

.linksToProjects {
  display: flex;
  margin-left: -15px;
  a {
    display: block;
    padding: 10px 5px;
    margin: 0 10px;
    min-width: 120px;
    text-align: center;
  }
  p {
    padding-top: 5px;
  }
}

.programsUsed {
  display: flex;
  flex-wrap: wrap;
  p {
    font-size: 1.9rem;
    margin: 40px 10px 50px 0;
    padding: 10px;
    background-color: $backgroundDarkTransparent;
  }
}

.is-selected:hover .moreInfoHover {
  display: block;
}

.is-selected {
  border: 2px solid transparent;
}

.is-selected:focus {
  border: 2px solid $accentColor;
}

// Button
/* rounded square */
.flickity-button {
  background: $accentColor;
  border: 1px transparent solid;
}
.flickity-button:hover, .flickity-button:focus {
  background: $focusColor;
  border: 1px $headerColor solid;
  box-shadow: none;
}

.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  border-radius: 1px;
}
/* icon color */
.flickity-button-icon {
  fill: $headerColor;
}
/* position outside */
.flickity-prev-next-button.previous {
  left: 150px;
}
.flickity-prev-next-button.next {
  right: 150px;
}

// Add a carousel :focus style style to aid accessibility. When focused, users can navigate the carousel with their keyboard.
.flickity-enabled:focus .flickity-viewport {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

// Dots
/* position dots in carousel */
.flickity-page-dots {
  bottom: 10px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  opacity: 1;
  background: transparent;
  border: 2px solid $headerColor;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: $accentColor;
}

// If cell is not selected, disable focus and hover for better accesibility (added by me in flickity.js)
.noHover {
  pointer-events: none;
}

.noFocus:focus {
  outline:0;
}

.show {
  display: block;
}

.hide {
  display: none;
}


