// Section1
.aboutSection {
    background-image: url(./assets/IMG_1265_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    background-position: center center;
    padding: 50px 0;
}

.aboutSectionImgText {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.aboutText {
    width: calc(65% - 80px);
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    h3 {
        margin: 0;
    }
    p {
        padding-top: 20px;
    }
}

.aboutImg {
    width: calc(35% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin: -55px 0 0 65px;
    }
}

.box {
    width: 290px;
    height: 415px;
}

.box1 {
    border: 20px solid;
    border-image-source: linear-gradient(135deg, $headerColorTransparent 35%, $backgroundDarkTransparent);
    border-image-slice: 1;
}

// About text 

.details {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    img {
        width: 15%;
    }
}

.details2 {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 20px);
    div {
        margin-left: 20px;
        margin-bottom: -50px;
        span {
            display: block;
        }
    }
    p {
        padding-top: 0;
    }
}



