// Section2
.section2 {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section2 {
    @include minMediaQ($xStd) {

        &:after,
        &:before {
            content: "";
            display: block;
            border-width: 2rem 0 2rem 2rem;
            border-style: solid;
            border-image-slice: 1;
            position: absolute;
            right: 0;
            opacity: 0.6;
        }


        &:after {
            width: 5%;
            height: calc(30% + 20rem);
            border-image-source: linear-gradient(-135deg, $text 15%, $accentColor);
            z-index: 3;
            top: -8rem;

            @include mediaQ($tablet) {
                width: 6rem;
                height: 24rem;
            }
        }

        &:before {
            top: 0;
            width: calc(5% + 6rem);
            height: 30%;
            border-image-source: linear-gradient(135deg, rgba($text, 0.5) 35%, rgba($backgroundDark, 0.3));
            z-index: 2;

            @include mediaQ($tablet) {
                width: 10rem;
                height: 18rem;
            }
        }
    }
}


// Skills
.skills {
    max-width: 112rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10rem 2rem;

    @include mediaQ($xStd) {
        padding: 4rem 2rem 6rem;
    }

    @include mediaQ(530px) {
        padding-bottom: 4rem;
    }

    figure {
        width: 12rem;
        margin: 0;
        height: 50%;
        display: flex;
        justify-content: center;

        img {
            width: 8rem;
            height: 8rem;
            object-fit: contain;
        }
    }

    p {
        margin-top: 1.5rem;
        max-width: 14rem;

        @include mediaQ(350px) {
            font-size: 1.6rem;
        }
    }

    @include minMediaQ($xStd) {

        &:after,
        &:before {
            content: "";
            display: block;
            border-width: 2rem 2rem 2rem 0;
            border-style: solid;
            border-image-slice: 1;
            position: absolute;
            left: 0;

            opacity: 0.6;

            @include mediaQ(1190px) {
                display: none;
            }
        }

        &:after {
            width: 5%;
            height: 30%;
            border-image-source: linear-gradient(-135deg, $accentColor 15%, $text);
            z-index: 3;
            bottom: 5rem;

            @include mediaQ($tablet) {
                width: 5rem;
                height: 12rem;
            }
        }

        &:before {
            width: calc(5% + 8rem);
            height: calc(30% + 8rem);
            border-image-source: linear-gradient(135deg, rgba($backgroundDark, 0.3) 1%, rgba($text, 0.5));
            z-index: 2;
            bottom: 11rem;

            @include mediaQ($tablet) {
                width: 11rem;
                height: 18rem;
            }
        }
    }
}

.skillSets {
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mediaQ($tablet) {
        width: 100%;
    }

    &:not(:last-child) {
        @include minMediaQ(600px) {
            margin-bottom: 6rem;
        }
    }

    @include mediaQ(600px) {
        row-gap: 2rem;
        column-gap: 0.5rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    @include mediaQ(350px) {
        gap: 1rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

.eachSkill {
    display: flex;
    flex-direction: column;
    width: calc(25% - .8rem);
    align-items: center;
    text-align: center;

    p {
        @extend h4;
    }

    @include mediaQ(600px) {
        width: calc(50% - .5rem);
    }
}

// Animations

@keyframes animateSkills {

    10%,
    90% {
        transform: translate3d(-.1rem, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(.2rem, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-.4rem, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(.4rem, 0, 0);
    }
}



.eachSkill figure:hover,
.eachSkill figure:focus {
    animation: animateSkills 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 100rem;
}

// Fill the color of icons
.filter {
    filter: invert(47%) sepia(87%) saturate(4487%) hue-rotate(4deg) brightness(94%) contrast(94%);
}

.filterWhite {
    filter: brightness(0) invert(1);
}